.acceptBanner {
  background: #1890FF;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 20px 0;
}

.descriptionGrid {
  text-align: center; 
  margin: 4em 0;
}

.header1 {
  color: #000000;
  font-size: 40px; 
  line-height: 48px; 
  width: 50%; 
  margin-bottom: 20px;
}

.footer {
  text-align: center;
  margin-top: 30px;
}

.footerHeader {
  font-size: 25px;
  color: #000000;
  opacity: 0.8;
}

.footerGridContent {
  margin-top: 10px; 
  display: flex; 
  justify-content: space-between; 
  max-width: 65%;
}

.footerGridContent2 {
  font-size: 12px;
  color: #000000;
  opacity: 0.6;
}
@media screen and (max-width: 768px) {
  .acceptBanner {
    display: block;
  }

  .acceptBanner div {
    margin-bottom: 10px;
  }

  .footerGrid1 {
    flex-basis: 19% !important; 
    max-width: 19% !important;  
  }

  .footerGrid2 {
    flex-basis: 16.67% !important; 
    max-width: 16.67% !important;  
  }

  .footerHeader2 {
    font-size: 16px;
    color: #000000;
    opacity: 0.8;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 700px) {
  .descriptionGrid {
    display: block !important;
  }

  .descriptionGrid div {
    max-width: 100%;
    margin-bottom: 10px;
  }  

  .footer {
    display: inline-block !important;
  }

  .footerGrid1 {
    flex-basis: 100% !important; 
    max-width: 100% !important;  
  }

  .footerGrid2 {
    flex-basis: 100% !important; 
    max-width: 100% !important;  
  }

  .footerHeader {
    text-align: center;
  }

  .footerHeader2 {
    text-align: center;
  }

  .footerGridContent {
    max-width: 30%;
    margin: 0 35%;
    justify-items: center;        
  }

  .footerGridContent2 {
    max-width: 50%;
    margin: 0 25%;
    justify-items: center;        
  }

  .footerGridContent2 div {
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .header1 {
    width: 100%;
  }


  .footerGridContent {
    max-width: 50%;
    margin: 0 25%;
    justify-items: center;        
  }
}